@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --slider-size: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #494f5c;
  color: #e8eef2;
  margin: 0px;
}
#spotlight {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  font-size: 1.5rem;
  height: 60%;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
a {
  background-color: transparent;
}
a {
  color: #e8eef2;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.centered {
  margin: 20px auto 0px auto;
}
#home-footer {
  text-align: center;
  font-size: 0.6em;
  line-height: normal;
  opacity: 0.6;
}
#home-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home-title {
  margin: 0;
  text-align: center;
}
#profile-photo {
  display: block;
  margin: auto;
  margin-top: 10vh;
  border-radius: 20%;
  border: solid #e8eef2 10px;
  height: 30%;
  filter: grayscale(70%);
}

.video,
.summary,
h1 {
  text-align: center;
}

.summary > ul {
  list-style-type: none;
}

.Iam {
  position: relative;
  left: 50px;
}
#fancy-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  background-color: teal;
  width: 340px;
  height: 300px;
  text-align: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a > button {
  width: 5em;
  height: 2em;
  font-size: 1.6em;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #252d3e;
  border-radius: 10px;
}

.card {
  text-align: center;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 20px;
  position: relative;
  color: black;
  height: fit-content;
}

.card-img {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.card-1 {
  box-shadow: 0 20px 16px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.6), 0 10px 10px rgba(0, 0, 0, 0.6);
}

.link-icon {
  width: 40px;
}
#fancy-about-me {
  background-color: #494f5c;
  font-style: normal;
  display: block;
  position: relative;
  left: 50px;
  height: 20px;
  width: 200px;
  padding: 0px 10px;
}
#fancy-about-me > b > div {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: calc(var(--slider-size) - 10px);
  line-height: calc(var(--slider-size));
}
#fancy-about-me {
  float: left;
  overflow: hidden;
  position: relative;
  height: calc(var(--slider-size));
  width: calc(var(--slider-size) * 10);
  top: 0px;
  left: 0px;
}
#stat-container {
  display: block;
  color: #c6cddb;
  font-family: fantasy;
  position: relative;
  top: 0;
  left: 0;
  animation: move 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  text-align: center;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: calc(var(--slider-size) * -1);
  }
  40% {
    top: calc(var(--slider-size) * -2);
  }
  60% {
    top: calc(var(--slider-size) * -3);
  }
  80% {
    top: calc(var(--slider-size) * -4);
  }
  100% {
    top: 0px;
  }
}
